<!DOCTYPE html>
<html>
	<head>
		<title>CampR</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-			 Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/main.css">
	
		
	</head>
	<body>
		<div class="bg_img" id="nav_hidden">
			<div id="landing-header">
 				<h1>Welcome to CampR!</h1>
				<a href="/campground" class="btn btn-lg btn-info">View All Campgrounds</a>
			</div>
		</div>
	

	</body>
</html>